.header-container.no-slider
  %header.wrapper.clearfix
    .ctaColumn
      %h1 Dinesafe Toronto App
      %nav
        %ul
          %li= link_to "App Store", app_store_link, :target => "_blank"
          %li= link_to "About", about_path
          %li= link_to "Contact/Support", contact_path
