.header-container.no-slider
  %header.wrapper.clearfix
    .ctaColumn
      %h1 Dinesafe Toronto App
      %nav
        %ul
          %li= link_to "App Store", ""
          %li About
          %li Contact/Support