%h2 Contact/Support

%p We'd love to hear from you! If you have any questions, comments, suggestions, or just want to say hi, feel free to contact us using any of the contact methods below.

%ul
  %li
    Email:
    %a{:href => "mailto:matt@ruten.ca"} matt@ruten.ca
  %li
    Developer Twitter:
    = link_to "@mattruten", "http://twitter.com/mattruten"
  %li
    App Twitter:
    = link_to "@DinesafeTO", "http://twitter.com/DinesafeTO"

