= render :partial => "shared/header"

#content
  %h2 Privacy Policy

  We take your privacy seriously. Dinesafe Toronto app & website do not currently ask for any personal information, with the exception of your current location, when you are using the app.

  %h2 Location Services

  %p The Dinesafe Toronto app sends your location coordinates (if you have allowed it) to our server, to query for establishments near your current location. The information may appear in our server logs, but is not stored or collected.

  %h2 Analytics

  %p
    Anonymous pageview website analytics may be collected by 
    = (link_to "Fathom", "https://usefathom.com/") + "."

  %h2 Contact

  If you have any questions or concerns, please contact 
  = (link_to "matt@ruten.ca", "mailto:matt@ruten.ca") + "."
