%h2 About Dinesafe Toronto App

%h3 A Headline. More Info Coming Soon.

%p Dinesafe is the City of Toronto's restaurant and food establishment inspection system. Establishments are inspected up to 3 times per year, depending on their risk factor.

%p You have probably seen the green "Pass" sign in restaurant windows. This sign shows the result of the establishment's latest health inspection. Occasionally you may see a yellow ("Conditional Pass") or red ("Closed") sign instead. A conditional pass means that the restaurant is allowed to stay open, but must quickly fix any issues found by the inspector, within a couple days. When the infractions are so severe that it would be hazardous for the establishment I remain open, they must close down until they remedy the infractions.

%p When an establishment gets a conditional pass or closed rating, the yellow/red sign will be displayed in their window, but only for a couple of days. Once they fix the infractions and are successfully re-inspected, the green "Pass" sign goes back up. There is no insight into the history of an establishments Dinesafe ratings. That's where this app comes in.

%p Dinesafe Toronto app shows the history of all health inspections for each food establishment in Toronto, going back up to 3 years. This app arranges those inspections in a timeline-like scorebar, so you can have a quick overview of an establishments inspections.
