= render :partial => "shared/header"

#content
  %h2 Privacy Policy

  We take your privacy seriously. Dinesafe Toronto app & website do not currently ask for any personal information, with the exception of your current location, when you are using the app.

  %h2 Location Services

  %p The Dinesafe Toronto app sends your location coordinates (if you have allowed it) to our server, to query for establishments near your current location. The information may appear in our server logs, but is not stored or collected.

  %h2 Analytics

  %p
    App and website analytics may be collected by Google Analytics (on the website) and/or Flurry Analytics (in the app). Please refer to the following: 
    %ul
      %li
        =link_to "Flurry Privacy Policy", "http://www.flurry.com/privacy-policy.html"
        %em (See "Via Flurry Analytics" section)
      %li= link_to "Google Privacy Policy", "http://www.google.ca/policies/privacy/"
    In short, analytics are collected to help gauge interest in specific parts/features of the app/website, to know where resources should be allocated to improve them.

  %h2 Contact

  If you have any questions or concerns, please contact 
  = (link_to "matt@ruten.ca", "mailto:matt@ruten.ca") + "."