/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {background-color:white;}


html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px; font:normal 11px/22px Arial, sans-serif; text-shadow: #ffffff 1px 1px, #ffffff 2px 2px}
#map_canvas { height: 100%;width: 100%;}

#controls {position:absolute;bottom:0;left:0;width:300px;background: rgb(255, 255, 255);background: rgba(255, 255, 255, 0.6);}
#controls textarea {width:280px;height:190px;margin:0 auto;display:block;margin-top:10px;}
