// Place all the styles related to the Inspections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.establishment {
  z-index: -99;
}

.statuses {
  //overflow:hidden;
  height: 10px;
  .status {
  	display:block;
  	width:30px;
  	height:10px;
  	float:left;
  	//text-indent:-999px;
  	//overflow:hidden;
  	.details {
  		display:none;
  		width: 300px;
  		height: 300px;
  		background-color: white;
  		border:1px solid #666;
  		padding:10px;
  		margin-top:10px;
		-webkit-box-shadow: 0px 0px 15px #666; 
     	-moz-box-shadow: 0px 0px 15px #666; 
        box-shadow: 0px 0px 15px #666; 
  		-webkit-border-radius: 4px;
     	-moz-border-radius: 4px;
        border-radius: 4px;
  		-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  	}
  }
  .pass {
  	background-color:#08653A;
  }
  .conditional {
  	background-color:#FFE800;
  }
  .closed {
  	background-color:#EE2113;
  }
  .out-of-business {
  	background-color:black;
  }
}
