<% @establishments.each do |e| %>
  <%# e.inspections.each do |insp| %>
    <%= e[:establishment_id] %> <%= e[:name] %><br>
    <%= e[:type] %><br>
    <%= e[:address] %><br>
    <div class="statuses">
      <% e[:inspections_info].each do |insp| %>
        <% case insp.establishment_status %> 
        <% when "Pass" %>
          <span class="status pass"></span>
        <% when "Conditional Pass" %>
          <span class="status conditional"></span>
        <% when "Closed" %>
          <span class="status closed"></span>
        <% when "Out of Business" %>
          <span class="status out-of-business"></span>
        <% end %>
      <% end %>
    </div>
    <hr />
  <%# end %>
<% end %>