- @establishments.each do |establishment|
  .establishment
    = establishment.id
    = establishment.name
    %br
    = establishment.address
    .statuses
      - establishment.inspections.each do |inspection|
        .status{:class => to_class_name(inspection.status)}
          .details
            Action:
            = inspection.action
    %hr

